@charset "utf-8";
/* CSS Document */

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

body {
	
	background-color: #132c44;
	font-family: 'Lexend', sans-serif;
	font-size: 18px;
	color: white;
}

th {
	
	padding-bottom: 30px;
	padding-top: 30px;
}

td {
	padding-left: 15px;
	
}


.container {
  position: fixed;
  top: 0px; 
  left: 0;
  width: 100vh;
  height: calc(100vw);

  overflow: scroll;
  transform: rotate(-90deg);
  transform-origin: center calc(50vh);
}

.child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0em auto;
  padding: 7.8em 4em;
  width: 500px;
  height: 500px;

  transform: rotate(90deg);

  border: 0px solid #333;
  box-shadow: 3px 3px 6px rgba(#333, .3);

  text-align: left;
	background-color: transparent;
  
}

.child1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0em auto;
  padding: 2em;
  width: 500px;
  height: 500px;

  transform: rotate(90deg);

  border: 0px solid #333;
  box-shadow: 3px 3px 6px rgba(#333, .3);

  text-align: left;
	background-color: transparent;
	padding-left: 291px;
  
}
  p {
    
	  font-weight: bold;
	  font-size: 28px;
  }

th {
	transition: transform .2s;
	
}

th:hover {
	transform: scale(1.03);
	filter: brightness(110%);
		
	
}


.sidebar {

  height: 100%;

  width: 0;

  position: fixed;

  z-index: 1;

  top: 0;

  right: 0;

  background-color: #5F2257;

  overflow-x: hidden;

  transition: 0.5s;

  padding-top: 60px;

}



.sidebar a {

  padding: 8px 8px 8px 32px;

  text-decoration: none;

  font-size: 25px;

  color: #F4C8F4;

  display: block;

  transition: 0.3s;

}



.sidebar a:hover {

  color: #f1f1f1;

}



.sidebar .closebtn {

  position: absolute;

  top: 0px;

  right: 25px;

  font-size: 36px;

  margin-right: 0px;

}



.openbtn {

  font-size: 20px;

  cursor: pointer;

  background-color: transparent;

  color: white;

  padding: 2px 15px;

  border-style: none;
	
	border: hidden;

	transition: transform .2s;
	
	outline: none;
	
	position: relative;
	
	left: 1422px;
	
}



.openbtn:hover {

  background-color: transparent;
	transform: scale(1.2);

}



#main {

  transition: margin-left .5s;

  padding: 16px;

}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {

  .sidebar {padding-top: 15px;}

  .sidebar a {font-size: 18px;}

}